* {
    background-color: thistle;
    margin:0;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
    color: slategray;
    padding: 25px;
}

h2 {
    color: rgb(126, 127, 129); 
    font-weight: 700;
    padding: 20px;
}

p {
    color: rgb(102, 102, 102);
}

section {
    margin: 1rem;
}

.flex-container {
    display: flex;
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(126, 127, 129);
}

a:visited {
    color: black;
}

a:link, a:visited {
    background-color: rgb(126, 127, 129);
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: rgb(89, 89, 90);
    transition: 1s;
  }